.login-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 90%;
}

.login-container form h1 {
  color: var(--title-green);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: 300;
  margin: 0;
}

.login-form-options {
  display: flex;
  width: 340px;
  justify-content: space-between;
}

.login-chebox-area {
  display: flex;
}

.login-chebox-area label {
  font-size: 12px;
  letter-spacing: 2px;
  margin-left: 4px;
}

.login-checkbox {
  all: unset;
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: var(--main-green);
  border-radius: 8px;
  position: relative;
}

.login-checkbox:checked::before {
  content: "x";
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  position: absolute;
  color: #fff;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(-1px);
}

.login-button-forgot-password {
  font-size: 12px;
  background: none;
  border: none;
  letter-spacing: 2px;
  color: #000;
  text-decoration: underline;
  cursor: pointer;
  padding-right: 0;
  transition: all ease 0.1s;
}

.login-button-forgot-password:hover {
  color: blue;
}

.login-button-login {
  background-color: var(--main-green);
  border: none;
  border-radius: 14px;
  font-size: 14px;
  font-weight: 500px;
  text-align: center;
  text-transform: uppercase;
  padding: 5px 14px;
  cursor: pointer;
  transition: all ease 0.2s;
}

.login-button-login:hover {
  background-color: var(--main-green-hover)
}

.login-or-text {
  font-size: 12px;
  color: #999;

}

.login-button-request-access {
  font-weight: 500;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: var(--secondary-button);
  border-radius: 14px;
  font-size: 11px;
  padding: 6px 15px;
  position: relative;
  letter-spacing: 2px;
  transition: all ease 0.2s;
}

.login-button-request-access:hover {
  background-color: var(--secondary-button-hover);
}

.login-button-request-access::before {
  content: "";
  position: absolute;
  border-radius: 14px;
  border: solid 2px white;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}